:root {
    --primary-color: #3498db;
    --font-color: #ffffff;
    --background-color: #1c1c1c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: var(--font-color);
}

html {
    display: flex;
    justify-content: center;
}

body{
    background-color: var(--background-color);
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title, .title-apresentation, .title-knowledge, .title-bootcamp {
    color: var(--primary-color);
    text-align: center;
    margin: 20px 0;
}

.image-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
}

.container-apresentation {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    gap: 20px;
}