:root {
    --primary-color: #3498db;
    --secondary-color: rgb(33, 16, 218);
    --font-color: #ffffff;
    --background-color: #1c1c1c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: var(--font-color);
}

html {
    display: flex;
    justify-content: center;
}

body{
    background-color: var(--background-color);

}

#title, .title-apresentation, .title-knowledge, .title-bootcamp {
    color: var(--primary-color);
    text-align: center;
    margin: 20px 0;
}



.container-apresentation {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.count {
    font-size: 2em;
    text-align: center;
}

.btn-primary {
    width: 100px;
    font-size: 1em;
    text-align: center;
}

.container-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.title-input{
    margin: 1em;
    text-align: center;
}

.input-group-text, #button-input {
 background-color: var(--primary-color);
}

.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto 2em auto;
}

#button-input:hover {
    background-color: var(--secondary-color);
    color: var(--font-color);
}



.item-list {
    display: flex;
}

.input-group .form-check-input:checked + .form-control {
    text-decoration: line-through;
    color: #888;
}
